<div class="container">
    <div class="row">
        <div class="col-12">
            <canvas class="my-4 w-100" id="myChart" width="900" height="200"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-2">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <i>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-basket" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </i>
                    {{productCard.header}}
                </div>
                <div class="card-body">
                    <div class="card-body-icon">

                    </div>
                    <ul>
                        <li *ngFor="let product of productCard.infos">{{product.fullname}} - {{product.amount}} -
                            {{product.totalValue | currency}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    Detalhar
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-2">
            <div class="card text-white bg-info">
                <div class="card-header">
                    <i>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-receipt-cutoff"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd"
                                d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </i>
                    {{lastSalesCard.header}}
                </div>
                <div class="card-body">
                    <div class="card-body-icon">

                    </div>
                    <ul>
                        <li *ngFor="let sale of lastSalesCard.lastSales">Data:
                            {{sale.saleDate | date:"dd/MM/yyyy HH:mm"}} -
                            Valor: {{sale.finalPrice | currency}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button data-toggle="modal" data-target="#lastSalesModal" class="btn btn-outline-light">Detalhar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-2">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <i>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-history"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                            <path fill-rule="evenodd"
                                d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </i>
                    {{dailySale.header}}
                </div>
                <div class="card-body">
                    <div class="card-body-icon">

                    </div>
                    <ul>
                        <li *ngFor="let sale of dailySale.infos.slice(0, 7)">Data: {{sale.day}} - {{sale.total}} vendas
                            -
                            Valor: {{sale.totalValue | currency}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    Detalhar
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="lastSalesModal" tabindex="-1" aria-labelledby="lastSalesModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vendas do dia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 table-responsive-sm">
                            <table class="table table-info table-striped table-sm table-info">
                                <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Produtos</th>
                                        <th scope="col">Entrega</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sale of sales">
                                        <td>
                                            {{sale.saleDate | date:'dd/MM/yyyy HH:mm'}}
                                        </td>
                                        <td>
                                            {{sale.products.length}}
                                        </td>
                                        <td>
                                            {{sale.deliveryTax | currency}}
                                        </td>
                                        <td>
                                            {{sale.finalPrice | currency}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>