<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="card mt-2 text-white bg-primary">
				<div class="card-header">Produtos</div>
				<div class="card-body">
					<form [formGroup]="productForm" (ngSubmit)="addProduct()">
						<div class="form-group">
							<label for="productNameInput">Nome</label>
							<input formControlName="productName" type="text" class="form-control" id="productNameInput">
						</div>
						<div class="form-group">
							<label for="productPriceInput">Preço</label>
							<input formControlName="productPrice" type="number" class="form-control"
								id="productPriceInput">
						</div>
						<button [disabled]="this.productForm.invalid" type="submit"
							class="btn btn-warning">Cadastrar</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="card mt-2 text-white bg-info">
				<div class="card-header">Venda</div>
				<div class="card-body">

					<div class="form-group">
						<label for="productPriceInput">Produto</label>
						<select [(ngModel)]="selectedProduct" class="form-control">
							<option *ngFor="let product of products" [ngValue]="product">{{product.fullname}} - {{product.price | currency}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="productAmountInput">Quantidade</label>
						<input [(ngModel)]="this.selectedProduct.amount" type="number" class="form-control"
							id="productAmountInput">
					</div>
					<button [disabled]="selectedProduct.id.length <= 0" type="button" (click)="addProductInSale()" class="btn btn-warning">Lançar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card mt-2 mt-2 text-white bg-dark">
				<div class="card-header">Resumo da venda</div>
				<div class="card-body">
					<ol>
						<li *ngFor="let product of sale.products">{{product.fullname}} x {{product.amount}}</li>
					</ol>
					<div class="row">
						<div class="col-auto">
							<div class="form-group">
								<label for="deliveryTaxInput">Tx de Entrega</label>
								<input [(ngModel)]="this.sale.deliveryTax" (ngModelChange)="calculateSalePrice()" type="number" class="form-control"
									id="deliveryTaxInput">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<b>Proço final: {{sale.finalPrice | currency}}</b>
						</div>
						<div class="col-auto offset">
							<button [disabled]="sale.products.length === 0" type="button" (click)="saveSale()" class="btn btn-primary">Simular</button>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>

</div>